body {
  background-color: #f7f7f7;
}

h1,
label,
#selectedValue {
  color: #000000;
}

.board__container,
.board__head,
.counters-container,
.board__button:active {
  background-color: #dddddd;
  border-top-color: #808080;
  border-right-color: #ffffff;
  border-bottom-color: #e6e5e5;
  border-left-color: #b1b0b0;
}

.board__button:active {
  background-color: rgb(238, 250, 255);
}

.board__head div,
.counters-container p,
#flag-button,
.volume-button,
.end_message {
  background-color: #c6c6c6;
  border-top-color: #ffffff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  border-left-color: #ffffff;
}

#flag-button {
  background-color: #f7f7f7;
}

.end_message {
  background-color: #e7e7e7;
}

input[type="range"] {
  background-color: rgb(0, 0, 0);
}

input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
}

.x1 {
  color: #007bff;
}

.x2 {
  color: #28a745;
}

.x3 {
  color: #dc3545;
}

.x4 {
  color: #6c757d;
}

.x5 {
  color: #e83e8c;
}

.x6 {
  color: #20c997;
}

.x7 {
  color: #343a40;
}

.x8 {
  color: #6c757d;
}

.x000 {
  color: #ec3e2a;
}
